[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/suhuaan
[access "refs/for/refs/*"]
	read = group user/suhuaan
	push = group user/suhuaan
	label-Code-Review = -2..+2 group user/suhuaan
	label-Verified = -1..+1 group user/suhuaan
	rebase = group user/suhuaan
	removeReviewer = group user/suhuaan
	submit = group user/suhuaan
[access "refs/heads/*"]
	read = group user/suhuaan
	create = group user/suhuaan
	push = +force group user/suhuaan
	pushMerge = group user/suhuaan
[access "refs/tags/*"]
	push = group user/suhuaan
	push = +force group user/suhuaan
